*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    margin: 0;
    background: #98acf8;
    color: #2d334a;
}

.container{
    background: #da9ff9;
    transform-origin: top left;
    transition: transform 0.5s linear;
    width: 100vw;
    min-height: 100vh;
    padding: 50px;
}

.container.show-nav{
    transform: rotate(-20deg);
    border-left: 10px solid #b088f9;
}
.circle-container{
    position: fixed;
    top: -100px;
    left: -100px;
}
.circle{
    background: #bedcfa;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
    transition: transform 0.5s linear;
    border: 5px solid #98acf8;
}
.container.show-nav .circle{
    transform: rotate(-70deg);
}
.circle button{
    position: absolute;
    top: 50%;
    left: 50%;
    /* transform: translateY(50%); */
    height: 100px;
    background: transparent;
    border: 0;
    font-size: 26px;
    color: #272343;
    outline: none;
    cursor: pointer;
}
.circle:focus{
    outline: none;
}

.circle button.open{
    left: 60%;
}
.circle button.close{
    top: 60%;
    transform: rotate(90deg);
    transform-origin: top left;
}
.container.show-nav + nav li{
    transform: translateX(0);
    transition: 0.3s;
}
nav{
    position: fixed;
    bottom: 40px;
    left: 0;
    z-index: 100;
}
nav ul{
    list-style: none;
    padding-left: 30px;
}
nav ul li{
    text-transform: uppercase;
    margin: 40px 0;
    color: #fff;
    transform: translateX(-100%);
    transition: transform 0.4s ease-in;
}
nav ul li img{
    margin-right: 10px;
}
nav ul li + li{
    margin-left: 15px;
    transform: translateX(-150%);
}
nav ul li + li + li{
    margin-left: 30px;
    transform: translateX(-200%);
}
.content img{
    max-width: 100%;
}
.content{
    max-width: 1000px;
    margin: 50px auto;
}
.content h1{
    color: #272343;
    margin: 0;
}
.content small{
    color:  #594a4e;
    margin: 0;
    font-style: bolder;
}
.content p{
    line-height: 1.5;
    color: #594a4e;
}